:root {
  --background: #ffffff;
  --background-alt: #f9f9f9;
  --foreground: #171717;
  --forground-active: #0078d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c34;
    --background-alt: #1e2127;
    --foreground: #ededed;
    --forground-active: #0078d4;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  background-color: var(--background-alt);
  color: var(--foreground);
  padding: 1rem;

  border: 1px solid var(--foreground);
}

#participants {
  position: absolute;
  bottom: 0;
  left: 0;
}

#new-game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#new-game a {
  font-size: 3rem;
  cursor: pointer;
  color: var(--forground-active);
}

canvas {
  background: transparent;
}

#hud {
  position: absolute;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

input,
button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: block;
  border: 1px solid var(--foreground);
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}
